<p id="notice"><%= notice %></p>

<p>
  <strong>Todo itemreferences:</strong>
  <%= @comment.todo_itemreferences %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
